!Time: Fri Jul 25 10:00:00 2025
!Startup config saved at: Fri Jul 25 10:00:00 2025
configure terminal
hostname {{ hostname }}
boot nxos bootflash:/{{ boot_image }}

interface mgmt0
  no cdp enable
  vrf member management
  ip address {{ mgmt_ip }}/24
  no shutdown

interface {{ interface_1 }}
    no shutdown

! DEBUG: interface_2 value: '{{ interface_2 }}' (type: {{ interface_2.__class__.__name__ if interface_2 is defined else 'undefined' }})
! DEBUG: interface_2 is defined: {{ interface_2 is defined }}
! DEBUG: interface_2 is not none: {{ interface_2 is not none }}
! DEBUG: interface_2 truthy: {{ interface_2 if interface_2 else 'falsy' }}

{% if interface_2 is not none %}
interface {{ interface_2 }}
    no shutdown
{% endif %}

! DEBUG: interface_3 value: '{{ interface_3 }}' (type: {{ interface_3.__class__.__name__ if interface_3 is defined else 'undefined' }})
! DEBUG: interface_3 is defined: {{ interface_3 is defined }}
! DEBUG: interface_3 is not none: {{ interface_3 is not none }}
! DEBUG: interface_3 truthy: {{ interface_3 if interface_3 else 'falsy' }}

{% if interface_3 is not none %}
interface {{ interface_3 }}
    no shutdown
{% endif %}
