!Time: Fri Jul 25 10:00:00 2025
!Startup config saved at: Fri Jul 25 10:00:00 2025
configure terminal
hostname {{ hostname }}
boot nxos bootflash:/{{ boot_image }}

interface mgmt0
  no cdp enable
  vrf member management
  ip address {{ mgmt_ip }}/24
  no shutdown

interface {{ interface_1 }}
    no shutdown

{% if interface_2 %}
interface {{ interface_2 }}
    no shutdown
{% endif %}

{% if interface_3 %}
interface {{ interface_3 }}
    no shutdown
{% endif %}
